@import "./util.scss";

.hero {
    position: relative;
    // height: fit-content;
    margin-bottom: 40px;

    img {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
        top: 0;
        left: 0;
    }

    .content {
        position: absolute;
        right: 0;
        top: 0;

        height: 100%;
        width: 380px;
        padding: 40px;
        background-color: $transblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;

        text-align: center;

        h2 {
            color: $blue;
            margin: 0;
        }

        .text {
            margin: 20px;

            h1 {
                font-family: 'Playfair Display', serif;
                font-size: 48px;
                letter-spacing: 0.023em;
                font-weight: 400;

                margin: 0;
            }
        }

        a {
            background-color: $blue;
        }
    }
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .img-holder {
        width: 100%;
        height: 300px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            transition: all .5s ease-in-out;
            object-fit: cover;
        }

        img:hover {
            transform: scale(1.2);
        }
    }
}

.donate {
    //has to expand entire screen width
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    //add black overlay to image with linear-gradient
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("//isteam.wsimg.com/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/image1%20(2).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,h:420,cg:true,m/cr=w:1920,h:420,ax:59.13040432272177%25,ay:41.30434782608695%25") no-repeat center;
    background-size: cover;
    margin: 10px 0px;
    padding: 40px 0px;
    width: 100%;

    h1,
    p {
        color: white;
    }
}

// remove collumns from photo grid
@media (max-width: 1000px) {
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px){
    .photo-gallery {
        grid-template-columns: 1fr;
    }
}

// seperate the content from the hero image by removing pos absolute
@media (max-width: 770px) {
    .hero {
        .content {
            position: static;
            width: 100%;

            .text {
                h1 {
                    //make Oakville Starz in one line
                    display: inline-block;
                    margin: 0px 5px;
                }
            }
        }
    }
}