$blue: rgb(59, 154, 213);
$lightblue: rgb(166, 221, 255);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    // border: 1px red solid;
}

div.logo {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.logo-text{
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.031em;
    font-size: 38px;
    padding: 8px 16px;
    font-weight: 400;
    border: 1px solid black;
    width: fit-content;
}
.centered-abs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate("-50%", "-50%");
}

.centered-rel {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate("-50%", "-50%");
}

nav {
    ul {
        border-bottom: 1px solid $lightblue;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        width: 80%;
        max-width: 1200px;
        overflow: hidden;
        flex-wrap: nowrap;

        li {
            margin-left: 20px;
            padding-bottom: 5px;
            display: inline-block;
            word-break: keep-all;
            width: fit-content;

            a {
                text-decoration: none;
                color: black;
                letter-spacing: 0.214em;
            }

            a:hover {
                color: $blue;
            }
        }

        li.active {
            border-bottom: 1px solid $blue;
        }
    }
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    max-width: 1200px;
}

button{
    transition: all .2s ease-in-out; 
}
button:hover{
    transform: scale(1.1);
}


@media only screen and (max-width: 1100px) {
    //change to mobile friendly navbar

    nav {
        display: none;
    }
}