@import 'util.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    // border: 1px red solid;
}
a{
    text-decoration: none;
}
html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

h1,
.logo-text {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.031em;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
}

h2 {
    margin-top: 20px;
    letter-spacing: 0.125em;
    font-size: 18px;
    color: $blue;
}

h3 {
    font-size: 24px;
    letter-spacing: 0.045em;
    line-height: 1.25;
    color: $black;
}

p {
    font-size: 18px;
    color: $gray;
    line-height: 1.5;
}

button, input[type=submit]{
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.action-button {
    text-decoration-style: solid;

    letter-spacing: 0.214em;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 16px;

    color: black;
    background-color: $blue;

    transition: all ease .2s;

    cursor: pointer;
}

.action-button:disabled, .action-button.disabled {
    background-color: $gray;
}

.action-button:disabled:hover {
    transform: none;
}

// .action-button:hover {
//     transform: scale(1.05);
// }

.paginate {
    font-size: 12px;
    display: flex;
    width: 100%;
    justify-content: center;
    h2{
        font-size: 12px;
        cursor: pointer;
        -webkit-user-select: none;
    }
}

div.logo {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    height: fit-content;
}

.logo-text {
    line-height: 1;
    padding: 8px 16px;
    border: 1px solid black;
    width: fit-content;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
}

.hamburger {
    display: none;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    color: $blue;
    transform: scale(0.8);
    z-index: -1;
    margin-left: 10px;
}

.hamburger-click {
    display: none;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 50px;
    width: 50px;
    max-width: 60px;
    z-index: 1;

    justify-self: start;
    align-self: center;
}

nav {
    margin-bottom: 20px;

    ul {
        border-bottom: 1px solid $lightblue;
        padding: 0;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        flex-wrap: nowrap;

        li {
            // margin-left: 30px;
            padding-bottom: 5px;
            display: inline-block;
            width: fit-content;
            text-align: center;

            a {
                text-decoration: none;
                color: black;
                letter-spacing: 0.214em;
                span{
                    letter-spacing: 0;
                }
            }

            a:hover {
                color: $blue;
            }
        }

        li.active {
            border-bottom: 1px solid $blue;
        }
    }

    ul > :first-child {
        margin-left: 0;
    }
}

nav.mobile {
    display: none;
    width: 0;
    height: 100%;
    max-width: none;
    margin: 0;

    background-color: $textblue;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    transition: all ease-in-out .3s;

    .cross {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    ul {
        padding: 56px 20px;
        padding-right: 0;

        display: flex;
        flex-direction: column;

        border: none;

        li {
            margin: 0;
            padding: 16px 24px;
            padding-right: 0;
            width: fit-content;
            text-align: left;

            a {
                font-size: 22px;
            }

            a.active {
                font-weight: 700;
            }
        }

        li.active {
            border: none;
            font-weight: 700;
        }
    }
}

body {
    // margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container,
footer,
main,
nav {
    width: 90%;
    max-width: 1200px;
}

footer {
    padding: 32px 0;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right {
        text-align: right;
    }
}

@media (max-width: 1000px) {

    //font-size changing
    h1,
    .logo-text {
        font-size: 30px;
    }

    h2,
    p {
        font-size: 16px;
    }

    h3 {
        font-size: 22px;
    }

    //show the hamburger
    .hamburger-click {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    //hide desktop nav
    nav {
        ul {
            display: none;
        }
    }

    //show mobile nav
    nav.mobile {
        display: block;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        text-align: center;

        .right {
            text-align: center;
        }
    }
}

@media (max-width: 500px) {

    //font-size changing
    h1,
    .logo-text {
        font-size: 22px;
    }

    h2,
    p {
        font-size: 16px;
    }

    h3 {
        font-size: 22px;
    }
}

.signin {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $textblue;
    height: 100vh;
    width: 0;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;


    overflow: hidden;
    transition: all .3s ease-in-out;

    .cross {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .signin-form {
        width: fit-content;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;

            .labelled-input {
                width: 300px;
            }
        }
    }

    .profile-info {
        // display: flex;
        display: none;
        flex-direction: column;
        width: 80%;

        // max-width: ;
        .hours {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                width: fit-content;
            }
            
            p{
                text-align: right;
            }
        }

        .request-hours {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            .labelled-input{
                width: 100%;
            }
            textarea{
                background-color: transparent;
                outline: none;
                margin-bottom: 0;
            }
            .action-button{
                margin-top: 0;
                align-self: center;
            }
        }
        #signout-button{
            margin-top: 50px;
        }
    }
}

//form elements
.labelled-input {
    position: relative;
    margin-bottom: 40px;
    background-color: transparent;

    input {
        background-color: transparent;
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        border-bottom: 1px solid rgb(226, 226, 226);
        font-size: 18px;
        padding: 0;
    }

    label {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 50px;
        pointer-events: none; //need this so we can click through the label

        .label-name {
            position: absolute;
            bottom: 10px;
            left: 0px;
            color: rgb(94, 94, 94);
            transition: all 0.2s ease;
        }
    }

    input:not(:placeholder-shown)+label .label-name,
    input:focus+label .label-name {
        bottom: 80%;
        font-size: 12px;
        color: rgb(42, 125, 176);
    }
}

.placeholder-input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
    font-size: 18px;
    padding: 0;
}

.error{
    color: $red;
    display: none;
    margin: 0;
    padding: 0;
}

.delete-button {
    padding: 16px;
    background-color: lightgray;
}

.btn-group {
    .action-button:hover {
        transform: none;
    }
}

.form-button {
    padding: 20px;
    letter-spacing: 0.125em;
    font-size: 18px;
}

.positive-button {
    color: $blue;
    background-color: $textblue;
}

.caution-button {
    color: $red;
    background-color: $lightred;
}

.negative-button {
    color: $black;
    background-color: rgb(240, 240, 240);
}

textarea {
    width: 100%;
    color: rgb(94, 94, 94);
    border-color: rgb(226, 226, 226);
    padding: 8px;
    resize: vertical;
    font-size: 18px;
    line-height: 1.75;
    margin-bottom: 40px;
}

select {
    margin-bottom: 40px;
    font-size: 18px;
    width: 300px;
}
@media (max-width: 1000px) {}

@media(max-width: 800px) {
    .btn-group {
        justify-self: center;
        // grid-area: button;
        // padding: 8px 16px;
    }
}

@media(max-width: 600px) {
    .btn-group {
        .action-button, .form-button {
            padding: 8px 16px;
        }

        .delete-button {
            padding: 8px;
        }
    }
}