$blue: rgb(59, 154, 213);
$lightblue: rgb(166, 221, 255);
$transblue:rgba(237, 244, 254, 0.8);
$textblue: rgb(237, 244, 254);
$gray: rgb(94, 94, 94);
$lightgray: rgb(191, 191, 191);
$black: rgb(27, 27, 27);
$lightred:rgb(255, 219, 217);
$red: red;