<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-firestore.js" defer></script>
    <script src="js/test.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/card.css">

    <title>Document</title>
</head>

<body>
    <!-- img goes here -->
    <div class="logo">
        <h3>Oakville STARZ</h3>
        <!-- <img class="centered-rel" src="images/logo.jpg" alt="" height="90px"> -->
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT US</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
            <li>
                <a href="/cards">EVENTS</a>
            </li>
            <li>
                <a href="/list">MEMBER REGISTRATION</a>
            </li>
            <li class="active">
                <a href="/test">PERFORMANCE REGISTRATION</a>
            </li>
            <li>
                <a href="/test">SIGN IN</a>
            </li>
        </ul>
    </nav>

    <!-- cards container -->
    <main>
        <div class="card-container .container">
            <div class="card">
                <div class="card-header">
                    <img src="//img1.wsimg.com/isteam/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/temp.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:240,cg:true"
                        alt="">
                </div>
                <div class="card-body">
                    <small>Februrary 31st, 2020</small>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam doloribus debitis minima ad
                        ullam nihil a dolore et aliquid similique.</p>
                </div>
                <div class="card-footer">
                    <button>
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="//img1.wsimg.com/isteam/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/temp.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:240,cg:true"
                        alt="">
                </div>
                <div class="card-body">
                    <small>Februrary 31st, 2020</small>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam doloribus debitis minima ad
                        ullam nihil a dolore et aliquid similique.</p>
                </div>
                <div class="card-footer">
                    <button>
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="//img1.wsimg.com/isteam/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/temp.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:240,cg:true"
                        alt="">
                </div>
                <div class="card-body">
                    <small>Februrary 31st, 2020</small>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam doloribus debitis minima ad
                        ullam nihil a dolore et aliquid similique.</p>
                </div>
                <div class="card-footer">
                    <button>
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="//img1.wsimg.com/isteam/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/temp.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:240,cg:true"
                        alt="">
                </div>
                <div class="card-body">
                    <small>Februrary 31st, 2020</small>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam doloribus debitis minima ad
                        ullam nihil a dolore et aliquid similique.</p>
                </div>
                <div class="card-footer">
                    <button>
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="//img1.wsimg.com/isteam/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/temp.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:240,cg:true"
                        alt="">
                </div>
                <div class="card-body">
                    <small>Februrary 31st, 2020</small>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam doloribus debitis minima ad
                        ullam nihil a dolore et aliquid similique.</p>
                </div>
                <div class="card-footer">
                    <button>
                        Sign Up
                    </button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="//img1.wsimg.com/isteam/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/temp.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:360,h:240,cg:true"
                        alt="">
                </div>
                <div class="card-body">
                    <small>Februrary 31st, 2020</small>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam doloribus debitis minima ad
                        ullam nihil a dolore et aliquid similique.</p>
                </div>
                <div class="card-footer">
                    <button>
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
        <div class="list-container .container">
            <div class="list">
                <div class="left">
                    <h2 class="date">
                        July 31, 2020
                    </h2>
                </div>

                <div class="right">
                    <h3>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem ipsum corporis necessitatibus cumque, libero eveniet aliquam minus ad deserunt dignissimos repellat illo odio nobis voluptatem explicabo qui quis delectus incidunt. Ab odio, id quas illo voluptatem placeat molestias, quia facere a laboriosam eius? Consectetur assumenda repellat sequi sapiente aspernatur quod aliquam ex impedit quisquam neque, porro in dolores aliquid, voluptatibus itaque unde soluta atque nemo. Assumenda, molestiae voluptas! Numquam, eius.</p>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <h2 class="date">
                        July 31, 2020
                    </h2>
                </div>

                <div class="right">
                    <h3>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem ipsum corporis necessitatibus cumque, libero eveniet aliquam minus ad deserunt dignissimos repellat illo odio nobis voluptatem explicabo qui quis delectus incidunt. Ab odio, id quas illo voluptatem placeat molestias, quia facere a laboriosam eius? Consectetur assumenda repellat sequi sapiente aspernatur quod aliquam ex impedit quisquam neque, porro in dolores aliquid, voluptatibus itaque unde soluta atque nemo. Assumenda, molestiae voluptas! Numquam, eius.</p>
                </div>
            </div>
            <div class="list">
                <div class="left">
                    <h2 class="date">
                        July 31, 2020
                    </h2>
                </div>

                <div class="right">
                    <h3>Lorem ipsum dolor sit amet.</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem ipsum corporis necessitatibus cumque, libero eveniet aliquam minus ad deserunt dignissimos repellat illo odio nobis voluptatem explicabo qui quis delectus incidunt. Ab odio, id quas illo voluptatem placeat molestias, quia facere a laboriosam eius? Consectetur assumenda repellat sequi sapiente aspernatur quod aliquam ex impedit quisquam neque, porro in dolores aliquid, voluptatibus itaque unde soluta atque nemo. Assumenda, molestiae voluptas! Numquam, eius.</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>