@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
/* begin global components */
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

h1,
.logo-text {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.031em;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
}

h2 {
  margin-top: 20px;
  letter-spacing: 0.125em;
  font-size: 18px;
  color: #3b9ad5;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.045em;
  line-height: 1.25;
  color: #1b1b1b;
}

p {
  font-size: 18px;
  color: #5e5e5e;
  line-height: 1.5;
}

.action-button {
  text-decoration: none;
  outline: none;
  border: none;
  text-decoration-style: solid;
  letter-spacing: 0.214em;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  background-color: #3b9ad5;
  transition: all ease 0.2s;
}

.action-button:hover {
  transform: scale(1.05);
}

div.logo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: fit-content;
}

.logo-text {
  line-height: 1;
  padding: 8px 16px;
  border: 1px solid black;
  width: fit-content;
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
}

.hamburger {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  color: #3b9ad5;
  transform: scale(0.8);
  z-index: -1;
  margin-left: 10px;
}

.hamburger-click {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50px;
  width: 50px;
  max-width: 60px;
  z-index: 1;
  justify-self: start;
  align-self: center;
}

nav {
  margin-bottom: 20px;
}
nav ul {
  border-bottom: 1px solid #a6ddff;
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: nowrap;
}
nav ul li {
  margin-left: 30px;
  padding-bottom: 5px;
  display: inline-block;
  width: fit-content;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.214em;
}
nav ul li a:hover {
  color: #3b9ad5;
}
nav ul li.active {
  border-bottom: 1px solid #3b9ad5;
}
nav ul > :first-child {
  margin-left: 0;
}

nav.mobile {
  display: none;
  width: 0;
  height: 100%;
  max-width: none;
  margin: 0;
  background-color: #edf4fe;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}
nav.mobile .cross {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(0.7);
}
nav.mobile ul {
  padding: 56px 20px;
  display: flex;
  flex-direction: column;
  border: none;
}
nav.mobile ul li {
  margin: 0;
  padding: 16px 24px;
  width: fit-content;
  text-align: left;
}
nav.mobile ul li a {
  font-size: 22px;
}
nav.mobile ul li a.active {
  font-weight: 700;
}
nav.mobile ul li.active {
  border: none;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container,
footer,
main,
nav {
  width: 90%;
  max-width: 1200px;
}

footer {
  padding: 32px 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .right {
  text-align: right;
}

@media (max-width: 1000px) {
  h1,
.logo-text {
    font-size: 30px;
  }

  h2,
p {
    font-size: 16px;
  }

  h3 {
    font-size: 22px;
  }

  .hamburger-click {
    display: flex;
  }

  nav ul {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
  }
  footer .right {
    text-align: center;
  }
}
@media (max-width: 500px) {
  h1,
.logo-text {
    font-size: 22px;
  }

  h2,
p {
    font-size: 16px;
  }

  h3 {
    font-size: 22px;
  }
}
/* end global components */
/* BEGIN HOME PAGE */
.hero {
  position: relative;
  margin-bottom: 40px;
}
.hero img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  top: 0;
  left: 0;
}
.hero .content {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 380px;
  padding: 40px;
  background-color: rgba(237, 244, 254, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  text-align: center;
}
.hero .content h2 {
  color: #3b9ad5;
  margin: 0;
}
.hero .content .text {
  margin: 20px;
}
.hero .content .text h1 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  letter-spacing: 0.023em;
  font-weight: 400;
  margin: 0;
}
.hero .content a {
  background-color: #3b9ad5;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.photo-gallery .img-holder {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.photo-gallery .img-holder img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
}
.photo-gallery .img-holder img:hover {
  transform: scale(1.2);
}

.donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("//isteam.wsimg.com/ip/aaa15e0e-1eeb-4f0f-8f7a-a24b1f91b79c/image1%20(2).jpeg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1920,h:420,cg:true,m/cr=w:1920,h:420,ax:59.13040432272177%25,ay:41.30434782608695%25") no-repeat center;
  background-size: cover;
  margin: 10px 0px;
  padding: 40px 0px;
  width: 100%;
}
.donate h1,
.donate p {
  color: white;
}

@media (max-width: 1000px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 770px) {
  .hero .content {
    position: static;
    width: 100%;
  }
  .hero .content .text h1 {
    display: inline-block;
    margin: 0px 5px;
  }
}
/* END HOME PAGE */
/* START ABOUT PAGE */
.double-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.double-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.profile-container .profile {
  width: 100%;
  background-color: #edf4fe;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}
.profile-container .profile img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.profile-container .profile h3 {
  padding: 20px 20px;
  margin: auto 0;
}

.about {
  padding: 40px;
  background-color: #edf4fe;
}

@media (max-width: 1000px) {
  .double-col {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .double-col img {
    grid-row: 1/2;
  }

  .profile-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .profile-container {
    grid-template-columns: 1fr;
  }

  .about {
    padding: 20px;
  }
}
/* END ABOUT PAGE */
/* START EVENTS PAGE */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 40px;
  transition: all 0.2s ease-in-out;
}
.card .card-header {
  height: fit-content;
}
.card .card-header img {
  width: 100%;
  object-fit: cover;
}
.card .card-body h3 {
  margin-top: 0;
  color: black;
  margin-bottom: 15px;
}
.card .card-footer button {
  float: right;
  background-color: #3b9ad5;
  border: none;
  padding: 14px 18px;
  color: white;
  outline: none;
}

.card:hover {
  transform: scale(1.01);
}

.list-container .list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
}
.list-container .list .date {
  color: #3b9ad5;
  text-align: left;
  justify-self: start;
}

@media (max-width: 1000px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .list-container .list {
    grid-template-columns: 1fr;
  }
  .list-container .list .date {
    text-align: left;
    align-self: flex-end;
    justify-self: start;
    margin-bottom: 0;
  }
  .list-container .list .details h3 {
    margin-top: 0;
  }
  .list-container .list .details p {
    display: none;
  }
}
@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
/* END EVENTS PAGE */
/* START CONTACT PAGE */
.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.contact-us a {
  color: #2a7db0;
  text-decoration-color: #2a7db0;
}
.contact-us .contact-form .input {
  position: relative;
  margin-bottom: 40px;
}
.contact-us .contact-form .input input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  font-size: 18px;
  padding: 0;
}
.contact-us .contact-form .input label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  pointer-events: none;
}
.contact-us .contact-form .input label .label-name {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: #5e5e5e;
  transition: all 0.2s ease;
}
.contact-us .contact-form .input input:not(:placeholder-shown) + label .label-name,
.contact-us .contact-form .input input:focus + label .label-name {
  bottom: 80%;
  font-size: 12px;
  color: #2a7db0;
}
.contact-us .contact-form textarea {
  width: 100%;
  color: #5e5e5e;
  border-color: #e2e2e2;
  padding: 8px;
  resize: vertical;
  font-size: 18px;
  line-height: 1.75;
  margin-bottom: 40px;
}
.contact-us .contact-form .action-button {
  width: 100%;
}

@media (max-width: 1000px) {
  .contact-us {
    grid-template-columns: 1fr;
  }
}
/* END CONTACT PAGE */

/*# sourceMappingURL=style.css.map */
