@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

h1,
.logo-text {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.031em;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
}

h2 {
  margin-top: 20px;
  letter-spacing: 0.125em;
  font-size: 18px;
  color: #3b9ad5;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.045em;
  line-height: 1.25;
  color: #1b1b1b;
}

p {
  font-size: 18px;
  color: #5e5e5e;
  line-height: 1.5;
}

button, input[type=submit] {
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.action-button {
  text-decoration-style: solid;
  letter-spacing: 0.214em;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  background-color: #3b9ad5;
  transition: all ease 0.2s;
  cursor: pointer;
}

.action-button:disabled, .action-button.disabled {
  background-color: #5e5e5e;
}

.action-button:disabled:hover {
  transform: none;
}

.paginate {
  font-size: 12px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.paginate h2 {
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none;
}

div.logo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: fit-content;
}

.logo-text {
  line-height: 1;
  padding: 8px 16px;
  border: 1px solid black;
  width: fit-content;
  justify-self: center;
  align-self: center;
  grid-column: 2/3;
}

.hamburger {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  color: #3b9ad5;
  transform: scale(0.8);
  z-index: -1;
  margin-left: 10px;
}

.hamburger-click {
  display: none;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50px;
  width: 50px;
  max-width: 60px;
  z-index: 1;
  justify-self: start;
  align-self: center;
}

nav {
  margin-bottom: 20px;
}
nav ul {
  border-bottom: 1px solid #a6ddff;
  padding: 0;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: nowrap;
}
nav ul li {
  padding-bottom: 5px;
  display: inline-block;
  width: fit-content;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.214em;
}
nav ul li a span {
  letter-spacing: 0;
}
nav ul li a:hover {
  color: #3b9ad5;
}
nav ul li.active {
  border-bottom: 1px solid #3b9ad5;
}
nav ul > :first-child {
  margin-left: 0;
}

nav.mobile {
  display: none;
  width: 0;
  height: 100%;
  max-width: none;
  margin: 0;
  background-color: #edf4fe;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}
nav.mobile .cross {
  position: absolute;
  top: 10px;
  right: 10px;
}
nav.mobile ul {
  padding: 56px 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  border: none;
}
nav.mobile ul li {
  margin: 0;
  padding: 16px 24px;
  padding-right: 0;
  width: fit-content;
  text-align: left;
}
nav.mobile ul li a {
  font-size: 22px;
}
nav.mobile ul li a.active {
  font-weight: 700;
}
nav.mobile ul li.active {
  border: none;
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container,
footer,
main,
nav {
  width: 90%;
  max-width: 1200px;
}

footer {
  padding: 32px 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .right {
  text-align: right;
}

@media (max-width: 1000px) {
  h1,
.logo-text {
    font-size: 30px;
  }

  h2,
p {
    font-size: 16px;
  }

  h3 {
    font-size: 22px;
  }

  .hamburger-click {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
  }
  footer .right {
    text-align: center;
  }
}
@media (max-width: 500px) {
  h1,
.logo-text {
    font-size: 22px;
  }

  h2,
p {
    font-size: 16px;
  }

  h3 {
    font-size: 22px;
  }
}
.signin {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #edf4fe;
  height: 100vh;
  width: 0;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.signin .cross {
  position: absolute;
  top: 10px;
  left: 10px;
}
.signin .signin-form {
  width: fit-content;
}
.signin .signin-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.signin .signin-form form .labelled-input {
  width: 300px;
}
.signin .profile-info {
  display: none;
  flex-direction: column;
  width: 80%;
}
.signin .profile-info .hours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.signin .profile-info .hours h2 {
  width: fit-content;
}
.signin .profile-info .hours p {
  text-align: right;
}
.signin .profile-info .request-hours {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.signin .profile-info .request-hours .labelled-input {
  width: 100%;
}
.signin .profile-info .request-hours textarea {
  background-color: transparent;
  outline: none;
  margin-bottom: 0;
}
.signin .profile-info .request-hours .action-button {
  margin-top: 0;
  align-self: center;
}
.signin .profile-info #signout-button {
  margin-top: 50px;
}

.labelled-input {
  position: relative;
  margin-bottom: 40px;
  background-color: transparent;
}
.labelled-input input {
  background-color: transparent;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  font-size: 18px;
  padding: 0;
}
.labelled-input label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 50px;
  pointer-events: none;
}
.labelled-input label .label-name {
  position: absolute;
  bottom: 10px;
  left: 0px;
  color: #5e5e5e;
  transition: all 0.2s ease;
}
.labelled-input input:not(:placeholder-shown) + label .label-name,
.labelled-input input:focus + label .label-name {
  bottom: 80%;
  font-size: 12px;
  color: #2a7db0;
}

.placeholder-input {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #e2e2e2;
  font-size: 18px;
  padding: 0;
}

.error {
  color: red;
  display: none;
  margin: 0;
  padding: 0;
}

.delete-button {
  padding: 16px;
  background-color: lightgray;
}

.btn-group .action-button:hover {
  transform: none;
}

.form-button {
  padding: 20px;
  letter-spacing: 0.125em;
  font-size: 18px;
}

.positive-button {
  color: #3b9ad5;
  background-color: #edf4fe;
}

.caution-button {
  color: red;
  background-color: #ffdbd9;
}

.negative-button {
  color: #1b1b1b;
  background-color: #f0f0f0;
}

textarea {
  width: 100%;
  color: #5e5e5e;
  border-color: #e2e2e2;
  padding: 8px;
  resize: vertical;
  font-size: 18px;
  line-height: 1.75;
  margin-bottom: 40px;
}

select {
  margin-bottom: 40px;
  font-size: 18px;
  width: 300px;
}

@media (max-width: 800px) {
  .btn-group {
    justify-self: center;
  }
}
@media (max-width: 600px) {
  .btn-group .action-button, .btn-group .form-button {
    padding: 8px 16px;
  }
  .btn-group .delete-button {
    padding: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
