<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
    <script src="js/nav.js" defer></script>
    <title>Home - Oakville S.T.A.R.Z.</title>
</head>

<body>
    <nav>
        <div class="navbar-contents">
            <div class="nav-l">
                <a href="">home</a>
                <a href="">pages</a>
                <a href="">Contact</a>
            </div>
            <div class="nav-c">
                <img src="images/logo.jpg" height="85px" alt="logo" />
            </div>
            <div class="nav-r">
                <a href="">blog</a>
                <a href="">shop</a>
                <a href="">elements</a>
            </div>
        </div>
        <div class="navbar-responsive">
            <div class="bar">
                <img src="../public/images/logo.jpg" height="85px" alt="logo" />
                <div class="icon" onclick="showLinks()">&#9776;</div>
            </div>
            <div class="dropdown-links">
                <a href="">home</a>
                <a href="">pages</a>
                <a href="">Contact</a>
                <a href="">blog</a>
                <a href="">shop</a>
                <a href="">elements</a>
            </div>
        </div>
    </nav>
    </nav>

    <main class="clearfix footer-margin">
        <div class="row col-12 hero">
            <div class="main-text center-abs">
                <h1>Oakville S.T.A.R.Z.</h1>
                <div class="seperator center-rel"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, assumenda!</p>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6">
                <h1>Who are we?</h1>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nihil magni quos vel corrupti quidem maxime a praesentium ea suscipit aut error, quasi distinctio non mollitia cupiditate ipsam labore, sed nemo corporis iste neque itaque atque iusto? Cum at libero a fugiat modi consectetur aliquam, accusantium atque minus soluta, possimus voluptatibus aspernatur, quisquam ad repudiandae sint odit fuga natus quaerat ullam. Voluptatibus, voluptas? Voluptates tempora fugit reprehenderit quas officiis laborum, ullam repellendus nihil, suscipit quibusdam mollitia consequatur eius quo dolores itaque beatae facere voluptatum ipsum odio aspernatur obcaecati provident explicabo commodi hic. Placeat sit ad quam expedita esse assumenda pariatur.</p>
            </div>
        </div>
    </main>
    
    <footer>
        
    </footer>
</body>

</html>