@import "util.scss";

.account_popup {
    position: fixed;
    top: 0;
    right: 0;
    background-color: $textblue;
    height: 100vh;
    width: 0;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;

    // width: 100%;

    //unfold effect
    overflow: hidden;
    transition: width .3s ease-in-out;

    .cross {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .signin-form {
        width: fit-content;
        // display: none;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: fit-content;

            .labelled_input {
                width: 300px;
            }
        }
    }
}

.account_popup {
    .profile-info {
        // display: flex;
        display: none;
        flex-direction: column;
        width: 80%;

        .row {
            //make it unselectable
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            display: grid;
            grid-template-columns: 1fr 1fr;
            border-bottom: 1px solid black;
            padding-bottom: 5px;

            h3 {
                justify-self: flex-start;
                margin: 0;
            }

            .btn_group {
                justify-self: flex-end;
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                button {
                    background-color: transparent;
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                    font-size: 16px;
                    height: fit-content;
                }
            }
        }

        // max-width: ;
        .hours {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h2 {
                width: fit-content;
            }

            p {
                text-align: right;
            }
        }

        .request-hours {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            .row {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-around;
                border: none;
            }

            .labelled_input {
                width: 100%;
            }

            textarea {
                background-color: transparent;
                outline: none;
                margin-bottom: 0;
            }

            .action_button {
                margin-top: 0;
                align-self: center;
                width: 100%;
            }
        }
    }
}

@media(max-width: 550px) {
    .signin {
        .profile-info {
            .row {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;

                .btn-group {
                    width: 100%;
                    justify-content: space-between;

                    button {
                        margin: 0;
                    }
                }
            }

            .request-hours {
                .row {
                    flex-direction: column;
                }
            }
        }
    }
}