@import "util.scss";

div.hero {
    width: 100%;
    height: fit-content;
    background-color: $blue;
    display: grid;
    grid-template-columns: 1fr 400px;

    div.img {
        background: url("https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=599bb8c2-8d14-4fcf-a806-8e96859dc79f");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;

    }

    div.text {
        background-color: $textblue;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            margin: 0;
        }
        a{
            background-color: $blue;
            text-decoration: none;
            text-decoration-style: solid;
            font-weight: 700;
            letter-spacing: 0.214em;
            width: fit-content;
            padding: 16px 32px;
            color: black;
            span{
                letter-spacing: 0;
            }
        }
    }
}

@media (max-width: 950px) {
    div.hero {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 300px;
        div.img,
        img{
            height: auto;
        }
        div.text{
            height: 300px;
        }
    }
}