@import "util.scss";

//black overlay with centered display
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
}

.modal {
    background-color: white;
    z-index: 3;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;

    .btn_group {
        width: fit-content;
        height: fit-content;
    }

    display: none;
}

.create-event-modal {
    display: none;

    form {
        width: 90%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name name"
            "date datestring"
            "photo photo"
            "textbox textbox"
            "empty button";
        gap: 30px;

        input {
            width: 100%;
            height: 50px;
            outline: none;
            border: none;
            border-bottom: 1px solid rgb(226, 226, 226);
            font-size: 18px;
            padding: 0;
        }

        #event-event_name {
            grid-area: name;
        }

        #event-date {
            grid-area: date;
        }

        #event-dateString {
            grid-area: datestring;
        }

        .event-photo {
            grid-area: photo;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                text-align: left;
                flex-basis: 200px;
                line-height: 50px;
                margin: 0;
            }

            input[type="file"] {
                flex-grow: 1;
                line-height: 50px;
                // padding-top: 10px;

            }
        }

        #event-description {
            grid-area: textbox;
        }

        textarea {
            width: 100%;
            color: rgb(94, 94, 94);
            border-color: rgb(226, 226, 226);
            padding: 8px;
            resize: vertical;
            font-size: 18px;
            line-height: 1.75;
            margin-bottom: 40px;
        }

        .btn_group {
            grid-area: button;
            justify-self: end;
            align-self: end;
        }

    }
}

@media (max-width: 900px) {
    .create-event-modal {
        form {
            grid-template-columns: 1fr;
            grid-template-areas:
                "name"
                "date"
                "datestring"
                "photo"
                "textbox"
                "button";
        }
    }
}

.request-details-modal {
    display: grid;
    max-width: 600px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "name hours"
        "text text"
        "button button";
    justify-items: start;
    align-items: start;
    text-align: left;

    .name {
        grid-area: name;
    }

    .hours {
        grid-area: hours;
    }

    .details {
        grid-area: text;
        width: 100%;
        div.row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    .btn_group {
        grid-area: button;
        justify-self: end;
    }
    display: none;
}