@import 'util.scss';
.register-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 52px;
    grid-template-areas: "tabs form"
        "empty button";
    column-gap: 100px;

    .tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        grid-area: tabs;

        .form_step {
            color: $gray;
        }

        .form_step.active {
            color: $blue;
        }
    }

    .register-form {
        grid-area: form;

        .labelled_input{
            width: 100%;
        }

        .validation-error {
            color: red;
            display: none;
        }
        
        .member-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            // display: none;
        }

        .tac {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            display: none;
        }

        .account-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            display: none;
        }

        .checkbox-agree {
            margin-bottom: 20px;
        }
    }

    .btn_group {
        grid-area: button;

        .goback-button {
            display: none;
            background-color: transparent;
        }
    }
}

@media (max-width: 600px) {
    .register-page {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 52px;
        grid-template-areas: "tabs"
            "form"
            "button";
        gap: 20px;
        .tabs{
            align-items: flex-start;
        }
        .form_step {
            display: none;
        }

        .form_step.active {
            display: block;
        }
    }
}