<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap"
        rel="stylesheet">

    <!-- css imports -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/event_row.css">

    <!-- js imports -->

    <title>Document</title>
</head>

<body>
    <div class="events_row">
        <div class="event">
            <h1 class="date_string">
                December 25th, 2020
            </h1>
            <div class="row_body">
                <div class="header">
                    <h3>Title</h3>
                    <h3>xx:xx-xx:xx</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, amet! Iste, at ex. Pariatur odio
                    autem eveniet nihil facilis consequuntur minus enim ratione quas quod optio quam placeat ea alias
                    adipisci consequatur officiis vel, dolorem amet, laboriosam laborum animi. Quia quibusdam natus
                    voluptatem dicta nemo temporibus reprehenderit! Amet, quis necessitatibus.</p>
            </div>
        </div>
        <div class="event">
            <h1 class="date_string">
                December 25th, 2020
            </h1>
            <div class="row_body">
                <div class="header">
                    <h3>Title</h3>
                    <h3>xx:xx-xx:xx</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, amet! Iste, at ex. Pariatur odio
                    autem eveniet nihil facilis consequuntur minus enim ratione quas quod optio quam placeat ea alias
                    adipisci consequatur officiis vel, dolorem amet, laboriosam laborum animi. Quia quibusdam natus
                    voluptatem dicta nemo temporibus reprehenderit! Amet, quis necessitatibus.</p>
            </div>
        </div>
        <div class="event">
            <h1 class="date_string">
                December 25th, 2020
            </h1>
            <div class="row_body">
                <div class="header">
                    <h3>Title</h3>
                    <h3>xx:xx-xx:xx</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, amet! Iste, at ex. Pariatur odio
                    autem eveniet nihil facilis consequuntur minus enim ratione quas quod optio quam placeat ea alias
                    adipisci consequatur officiis vel, dolorem amet, laboriosam laborum animi. Quia quibusdam natus
                    voluptatem dicta nemo temporibus reprehenderit! Amet, quis necessitatibus.</p>
            </div>
        </div>
        <div class="event">
            <h1 class="date_string">
                December 25th, 2020
            </h1>
            <div class="row_body">
                <div class="header">
                    <h3>Title</h3>
                    <h3>xx:xx-xx:xx</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, amet! Iste, at ex. Pariatur odio
                    autem eveniet nihil facilis consequuntur minus enim ratione quas quod optio quam placeat ea alias
                    adipisci consequatur officiis vel, dolorem amet, laboriosam laborum animi. Quia quibusdam natus
                    voluptatem dicta nemo temporibus reprehenderit! Amet, quis necessitatibus.</p>
            </div>
        </div>
        <div class="event">
            <h1 class="date_string">
                December 25th, 2020
            </h1>
            <div class="row_body">
                <div class="header">
                    <h3>Title</h3>
                    <h3>xx:xx-xx:xx</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, amet! Iste, at ex. Pariatur odio
                    autem eveniet nihil facilis consequuntur minus enim ratione quas quod optio quam placeat ea alias
                    adipisci consequatur officiis vel, dolorem amet, laboriosam laborum animi. Quia quibusdam natus
                    voluptatem dicta nemo temporibus reprehenderit! Amet, quis necessitatibus.</p>
            </div>
        </div>
    </div>
</body>

</html>