<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap"
        rel="stylesheet">

    <!-- css imports -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/form_elements.css">
    <link rel="stylesheet" href="../../css/event_grid.css">

    <!-- js imports -->

    <title>Document</title>
</head>

<body>
    <div class="event_grid">
        <div class="event">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=fa00476f-e030-461d-80b2-09a3c654d80d"
                    alt="">
            </div>
            <div class="card_body">
                <div class="description">
                    <div class="header">
                        <h2>Title</h2>
                        <h3>xx:xx-xx:xx</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda enim corporis minima qui sed.
                        Dignissimos nihil fugiat repudiandae aspernatur iste officia natus ipsam, vitae deleniti cum ab
                        omnis voluptatem libero delectus id beatae, aliquid tempora accusantium! Eum exercitationem
                        vitae doloribus autem, tempora modi maiores, sapiente necessitatibus similique, est in non!</p>
                </div>
                <button class="action_button">Sign Up</button>
            </div>
        </div>
        <div class="event">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=fa00476f-e030-461d-80b2-09a3c654d80d"
                    alt="">
            </div>
            <div class="card_body">
                <div class="description">
                    <div class="header">
                        <h2>Title</h2>
                        <h3>xx:xx-xx:xx</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda enim corporis minima qui sed.
                        Dignissimos nihil fugiat repudiandae aspernatur iste officia natus ipsam, vitae deleniti cum ab
                        omnis voluptatem libero delectus id beatae, aliquid tempora accusantium! Eum exercitationem
                        vitae doloribus autem, tempora modi maiores, sapiente necessitatibus similique, est in non!</p>
                </div>
                <button class="action_button">Sign Up</button>
            </div>
        </div>
        <div class="event">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=fa00476f-e030-461d-80b2-09a3c654d80d"
                    alt="">
            </div>
            <div class="card_body">
                <div class="description">
                    <div class="header">
                        <h2>Title</h2>
                        <h3>xx:xx-xx:xx</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda enim corporis minima qui sed.
                        Dignissimos nihil fugiat repudiandae aspernatur iste officia natus ipsam, vitae deleniti cum ab
                        omnis voluptatem libero delectus id beatae, aliquid tempora accusantium! Eum exercitationem
                        vitae doloribus autem, tempora modi maiores, sapiente necessitatibus similique, est in non!</p>
                </div>
                <button class="action_button">Sign Up</button>
            </div>
        </div>
        <div class="event">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=fa00476f-e030-461d-80b2-09a3c654d80d"
                    alt="">
            </div>
            <div class="card_body">
                <div class="description">
                    <div class="header">
                        <h2>Title</h2>
                        <h3>xx:xx-xx:xx</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda enim corporis minima qui sed.
                        Dignissimos nihil fugiat repudiandae aspernatur iste officia natus ipsam, vitae deleniti cum ab
                        omnis voluptatem libero delectus id beatae, aliquid tempora accusantium! Eum exercitationem
                        vitae doloribus autem, tempora modi maiores, sapiente necessitatibus similique, est in non!</p>
                </div>
                <button class="action_button">Sign Up</button>
            </div>
        </div>
        <div class="event">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=fa00476f-e030-461d-80b2-09a3c654d80d"
                    alt="">
            </div>
            <div class="card_body">
                <div class="description">
                    <div class="header">
                        <h2>Title</h2>
                        <h3>xx:xx-xx:xx</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda enim corporis minima qui sed.
                        Dignissimos nihil fugiat repudiandae aspernatur iste officia natus ipsam, vitae deleniti cum ab
                        omnis voluptatem libero delectus id beatae, aliquid tempora accusantium! Eum exercitationem
                        vitae doloribus autem, tempora modi maiores, sapiente necessitatibus similique, est in non!</p>
                </div>
                <button class="action_button">Sign Up</button>
            </div>
        </div>
        <div class="event">
            <div class="img">
                <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=fa00476f-e030-461d-80b2-09a3c654d80d"
                    alt="">
            </div>
            <div class="card_body">
                <div class="description">
                    <div class="header">
                        <h2>Title</h2>
                        <h3>xx:xx-xx:xx</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda enim corporis minima qui sed.
                        Dignissimos nihil fugiat repudiandae aspernatur iste officia natus ipsam, vitae deleniti cum ab
                        omnis voluptatem libero delectus id beatae, aliquid tempora accusantium! Eum exercitationem
                        vitae doloribus autem, tempora modi maiores, sapiente necessitatibus similique, est in non!</p>
                </div>
                <button class="action_button">Sign Up</button>
            </div>
        </div>

</body>

</html>