<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap"
        rel="stylesheet">

    <!-- css imports -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/hero.css">

    <!-- js imports -->
    

    <title>Document</title>
</head>
<body>
    <div class="hero">
        <!-- <div class="img"></div> -->
        <img src="https://firebasestorage.googleapis.com/v0/b/test-json-cbef3.appspot.com/o/hero.JPG?alt=media&token=599bb8c2-8d14-4fcf-a806-8e96859dc79f" alt="">

        <div class="text">
            <h2>WELCOME TO</h2>
            <h1>Oakville STARZ</h1>
            <a href="">View Our YouTube</a>
        </div>
    </div>
</body>
</html>