<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap"
        rel="stylesheet">

    <!-- css imports -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/nav.css">

    <!-- js imports -->
    <script src="../../js/mobile_nav.js" defer></script>

    <title>Document</title>
</head>

<body>
    <div class="logo container">
        <div class="hamburger">
            <svg viewBox="0 0 24 24" fill="currentColor" width="40px" height="40px">
                <path fill-rule="evenodd"
                    d="M19 8H5a1 1 0 1 1 0-2h14a1 1 0 0 1 0 2zm0 5.097H5a1 1 0 1 1 0-2h14a1 1 0 1 1 0 2zm0 5.25H5a1 1 0 1 1 0-2h14a1 1 0 1 1 0 2z">
                </path>
            </svg>
        </div>
        <h1 class="logo-text">Oakville STARZ</h1>
    </div>

    <nav>
        <div class="desktop">
            <ul>
                <li>
                    <a href="/">HOM<span>E</span></a>
                </li>
                <li>
                    <a href="/about">ABOUT U<span>S</span></a>
                </li>
                <li>
                    <a href="/events">EVENT<span>S</span></a>
                </li>
                <li>
                    <a href="/contact">CONTAC<span>T</span></a>
                </li>
                <li>
                    <a href="/register">REGISTE<span>R</span></a>
                </li>
                <li class="profile">
                    <a class="signin-open">SIGN I<span>N</span></a>
                </li>
            </ul>
        </div>
        <div class="mobile">
            <svg viewBox="0 0 24 24" fill="currentColor" class="cross close-nav" width="34px" height="34px">
                <path fill-rule="evenodd"
                    d="M19.245 4.313a1.065 1.065 0 0 0-1.508 0L11.78 10.27 5.82 4.313A1.065 1.065 0 1 0 4.312 5.82l5.958 5.958-5.958 5.959a1.067 1.067 0 0 0 1.508 1.508l5.959-5.958 5.958 5.958a1.065 1.065 0 1 0 1.508-1.508l-5.958-5.959 5.958-5.958a1.065 1.065 0 0 0 0-1.508">
                </path>
            </svg>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/about">ABOUT US</a>
                </li>
                <li>
                    <a href="/events">EVENTS</a>
                </li>
                <li>
                    <a href="/contact">CONTACT</a>
                </li>
                <li>
                    <a href="/register">REGISTER</a>
                </li>
                <li class="profile">
                    <a class="signin-open close-nav">SIGN IN</a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>