<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap"
        rel="stylesheet">

    <!-- css imports -->
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/team_grid.css">

    <!-- js imports -->

    <title>Document</title>
</head>

<body>
    <div class="team_members_container">
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
        <div class="team_member">
            <div class="img"></div>
            <h3>Name | Position</h3>
        </div>
    </div>
</body>

</html>